*{

	margin:0;
	padding:0;
}


html, body {
	width:100%;
	height:100%;

}


/*intro content*/
.slideshow-container{

	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows :1fr;

	width:100%;
	height:50%;
	background-color: black;
}


.slideone{
	grid-column:1/ span 2;
	grid-row:1/span 3;
	background-color: #33334d;


	/*nested grid*/
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}


.slideintro{
	grid-column:2/2;
	grid-row:1/span 2;

	margin-top: 20px;

	opacity: 0.0;
animation: fadeIn ease 5s forwards;
-webkit-animation: fadeIn ease-in 5s forwards;
display: inline-block;
font-family: 'Montserrat';
font-size: 30px;
color: black;
/*text-transform: none;*/


}


/*animation for text*/



@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:2;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

#slidetwo{
	grid-column:3/3;
	grid-row:1/span 3;
	/*background-image: url('./pictures/picture3.jpg');*/
	object-fit: cover;
	object-fit: contain;
	object-fit: cover;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	



	


}

.picturechange{
background-color: green;
width: 25%;
height: 25%;



}



/*animation key frames*/



@keyframes slider {

	100% { left: 0; }
}






/*body content*/

.containerone{
display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows :1fr 1fr 1fr 1fr;
	width:100%;
	height:100%;

}


.itemone{
grid-column:1/1;
 grid-row:1/1;


}


.itemtwo{
grid-column:2/2;
 grid-row:1/2;


}

.footer{

	grid-column: 1/span 6;
	grid-row:4/4;

	background-color: black;

	color: white;
}